<article class = "panel">
	<header>
		<h3><%= blogpost.subject %>
			<% if signed_in? && current_user.admin? %>
				<span style="float:right;"><%= link_to "Delete", blogpost, method: :delete, data: { confirm: "You sure?" } %></span>
			<% end %>
		</h3>
	</header>

  	<p><%= blogpost.content %></p>

  	<footer class = "text-muted">
  		<p>
	  		<small>Posted <%= time_ago_in_words(blogpost.created_at) %> ago.
	  		</small>

	    	<span class= "byline">
	    		<small>
	    			By <%= link_to blogpost.user.name, about_path %>
	    		</small>
	    	</span>
	    </p>
  	</footer>
</article>