<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<% if current_user.admin? %>
	<div class="container">
		<%= render 'shared/blogpost_form' %>
	</div>
<% end %>

<div class="container">
<% if @user.blogposts.any? %>
  <h3>Blogposts (<%= @user.blogposts.count %>)</h3>
  <ol class="microposts">
    <%= render @blogposts %>
  </ol>
  <%= will_paginate @blogposts, renderer: BootstrapPagination::Rails %>
<% end %>
</div>