<%= form_for(@blogpost) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
	<form class="form" role="form">

		<div class="form-group" >
			<%= f.text_field :subject, placeholder: "Enter the blog subject...", class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.text_area :content, placeholder: "Compose new blog post...", class: "form-control" %>
		</div>

		<!-- <div class="form-group"> -->
			<%= f.submit "Post", class: "btn btn-lg btn-primary" %>
		<!-- </div> -->

	</form>
<% end %>